{% extends "layout.html" %} {% block title %}Зміна паролю{% endblock %} {% block
body%}
<h1>WaterApp</h1>
<p class="loggin__name">Зміна паролю</p>
<form
  class="change_pass__form"
  id="change_pass__form"
  method="POST"
  action="/change_password"
>
  <div class="input_password">
    <input
      type="password"
      id="old_password"
      name="old_password"
      placeholder="Введіть старий пароль"
      required
    />
    <div class="input_password_after" id="passwordCheckbox"></div>
  </div>
  <div class="input_password">
    <input
      type="password"
      id="new_password"
      name="new_password"
      placeholder="Введіть новий пароль"
      required
    />
    <div class="input_password_after" id="passwordCheckbox2"></div>
  </div>
  <div class="input_password">
    <input
      type="password"
      id="new_password2"
      name="new_password2"
      placeholder="Введіть новий пароль повторно"
      required
    />
    <div class="input_password_after" id="passwordCheckbox3"></div>
  </div>
</form>
<div class="air"></div>
<div class="bottom">
  <button class="loggin_button">
    <a href="/">Головна</a>
  </button>
  <button
    id="submitBtn"
    class="change_password__button"
    type="submit"
    disabled
    form="change_pass__form"
  >
    Змінити пароль
  </button>
</div>
<script src="{{ url_for('static', filename='js/change_password.js') }}"></script>
{% endblock %}
